:root {
  --color-bg-dark: #13172C;
  --color-text-dark: #fff8f0;
  
  --color-bg-light: #fff8f0;
  --color-text-light: #1e1e24;

  --color-cell-required-dark: #27325a;
  --color-cell-required-hover-dark: #1c2852;

  --color-cell-optional-dark: #353542;
  --color-cell-optional-hover-dark: #2a2a33;

  --color-cell-stroke-dark: #a1a1a1;
}