.wrapper {
  width: 100%;
  height: 100%;
  .header {
    display: flex;
    flex-direction: column;
    button {
      cursor: pointer;
      padding: 0;
      margin: 0;
      background-color: transparent;
      border:none;
      //filter: invert(67%) sepia(7%) saturate(78%) hue-rotate(267deg) brightness(89%) contrast(91%);

      & > img {
        filter: invert(67%) sepia(7%) saturate(78%) hue-rotate(267deg) brightness(89%) contrast(91%);
      }
      
      &:disabled > img {
        filter: invert(10%) sepia(5%) saturate(6023%) hue-rotate(195deg) brightness(98%) contrast(83%);
        cursor: not-allowed;
      }
    }

    &.active > img {
      filter: invert(96%) sepia(2%) saturate(1385%) hue-rotate(324deg) brightness(102%) contrast(101%); // korrek
      //filter: invert(94%) sepia(62%) saturate(2%) hue-rotate(328deg) brightness(116%) contrast(101%)!important; // white
      //filter: invert(33%) sepia(99%) saturate(6386%) hue-rotate(287deg) brightness(97%) contrast(129%)!important;
    }
  }
  .list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height:100%;
    max-height: 65vh;
    overflow-x: auto;

    div {
      display: list-item; 
      list-style-type: decimal;
      width: 105px;
      padding: 0 1em .3em .1em;
      margin: 0 0 .3em 2em;
      border-bottom: 1px solid #2c2c2c;
    }
  }
}

.pangram {
  font-weight: bold;
  color: #ed9633;
}

@media only screen and (max-width: 768px/*map-get($breakpoints, xs)*/)  {
  .wrapper .list {
    max-height: 25vh;
  }
} 
