.wrapper {
  display: flex;
	flex-direction: column;
	justify-content: stretch;
  gap: 0.5em;
	width: 100%;
  height: 100%;
	min-height: 400px;
  & > .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .toggleSort {
      cursor: pointer;
      padding: 0;
      margin: 0;
      background-color: transparent;
      border:none;
      user-select: none;
      & > img {
        transition: .2s filter linear, .2s -webkit-filter linear;
        filter: var(--color-action-button);
      }

      &:disabled > img {
        filter: var(--color-action-button-disabled);
        cursor: not-allowed;
      }

      &.active > img {
        filter: var(--color-action-button-hover);
      }
    }
  }
  & > .list {
    position: initial;
    visibility: visible;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height:100%;
    min-height: 360px;
    max-height: 55vh;
    overflow-x: auto;
    border: 1px solid var(--color-button-border);
    border-radius: 4px;
    padding: 1.2em 0.5em;
  
    & > div {
      display: list-item; 
      list-style-type: decimal;
      padding: 0 1em .3em .1em;
      margin: 0 0 .3em 2em;
      border-bottom: 1px solid var(--color-button-border);

      &::marker {
        color: #a69cac;
      }
    }
  }

  & > .compact {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #a69cac;
    border-radius: 4px;
    height: auto;
    & > .header {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      width: 100%;
      & > .horizontal {
        flex-grow: 1;
        visibility: visible;
        overflow-x: auto;
        padding: 1em 0 1em 1em;
        & > * {
          display: inline;
          margin-right: 0.7em;
          letter-spacing: .5px;
        }
        & > *:last-child {
          margin-right: 0;
        }
      }

      & > .expand {
        cursor: pointer;
        padding: 1em;
        background: transparent;
        border: none;
        img {
          transition: transform .2s;
          filter: invert(67%) sepia(7%) saturate(78%) hue-rotate(267deg) brightness(89%) contrast(91%);
          height: 25px;
          width: auto;
        }
      }
    }

    & > .vertical {
      position: absolute;
      visibility: hidden;
      display: none;
      flex-direction: column;
      flex-wrap: wrap;
      height: 73vh;
      width: 100%;
      overflow-x: auto;
      padding: 0 0 1em 1em;

      & > div {
        display: list-item;
        list-style-type: decimal;
        padding: 0 1em 0.3em 0.1em;
        margin: 0 0 0.3em 2em;
        border-bottom: 1px solid #25283C;
        max-width: 150px;

        &::marker {
          color: #a69cac;
        }
      }
    }
  }
}

.bonus {
  font-weight: bold;
  color: var(--color-text-highlight);
}

@media only screen and (max-width: 768px/*map-get($breakpoints, xs)*/)  {
  .wrapper {
    padding: 0 1em;
    min-height: initial;
    & > .list {
      display: none;
      position: absolute;
      visibility: hidden;
    }

    & > .compact {
      display: flex;
      max-height: calc(100vh - 9em);
    }
  } 
} 
