@import './settings.scss';
@import './colors.css';

html {
  height: 100%;
  font-size: $font-size-base;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  &, body {
    padding: 0;
    margin: 0;
  }
  & > body {
    background: var(--color-bg-dark);
    color: var(--color-text-dark);
    min-height: 100%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.konvajs-content {
  margin: 0 auto!important;
}

.expand {
  .horizontal {
    visibility: hidden!important;
  }
  .vertical {
    position: initial!important;
    visibility: visible!important;
    display: flex!important;
    //height: auto!important;
  }
  .hive {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
  .found-accordion {
    height: 100%!important;
  }

  .button-expand img {
    transform: rotate(180deg);
  }
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;

    body {
      color: var(--color-text-dark);
      background: var(--color-bg-dark);
    }
  }
}

/*
Background: #ebebde
Optional:   #777764
Required:   #4f4747
            #455073
*/
