@import './settings.scss';

:root {
  --color-floral-white: #fff8f0;
  --color-heliotrope-gray: #a69cac;
  --color-carrot-orange: #ed9633;
  --color-oxford-blue: #13172c;
  --color-independence: #36384c;
  --color-rich-black: #0d0d0e;
  --color-space-cadet: #25283C;
  --color-quick-silver: #a1a1a1;
  --color-max-yellow: #fbf536;
  --color-light-goldenrod: #f2eecb;
  --color-bone: #cecec0;
  --color-nickel: #777764;
  --color-ash-gray: #b1b1a1;
}

body.dark {
  --color-text-primary: var(--color-floral-white);
  --color-text-highlight: var(--color-carrot-orange);

  --color-bg-primary: var(--color-oxford-blue);
  
  --color-cell-bg-optional: var(--color-independence);
  --color-cell-bg-required: var(--color-heliotrope-gray);
  --color-cell-bg-optional-hover: var(--color-space-cadet);
  --color-cell-bg-required-hover: var(--color-oxford-blue);
  --color-cell-text-optional: var(--color-floral-white);
  --color-cell-text-required: var(--color-oxford-blue);
  --color-cell-text-required-hover: var(--color-floral-white);
  --color-cell-stroke-optional: var(--color-quick-silver);
  --color-cell-stroke-required: var(--color-independence);
  
  --color-bg-header: var(--color-heliotrope-gray);
  --color-bg-footer: var(--color-space-cadet);
  --color-text-dim: var(--color-heliotrope-gray);

  --color-button-theme: var(--color-oxford-blue);
  --color-button-border: var(--color-quick-silver);
}

body.light {
  --color-text-primary: var(--color-oxford-blue);
  --color-text-highlight: var(--color-max-yellow);
  --color-bg-primary: var(--color-light-goldenrod);
  --color-cell-bg-optional: var(--color-bone);
  --color-cell-bg-required: var(--color-nickel);
  --color-cell-bg-optional-hover: var(--color-ash-gray);
  --color-cell-bg-required-hover: var(--color-light-goldenrod);
  --color-cell-text-optional: var(--color-oxford-blue);
  --color-cell-text-required: var(--color-light-goldenrod);
  --color-cell-stroke-optional: var(--color-quick-silver);
  --color-cell-stroke-required: var(--color-bone);

  --color-bg-header: var(--color-nickel);
  --color-bg-footer: var(--color-ash-gray);
  --color-text-dim: var(--color-nickel);

  --color-button-theme: var(--color-light-goldenrod);
  --color-button-border: var(--color-quick-silver);
}

html {
  height: 100%;
  font-size: $font-size-base;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  &, body {
    padding: 0;
    margin: 0;
  }
  & > body {
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
    background: var(--color-bg-primary);
    color: var(--color-text-primary);
    min-height: 100%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.konvajs-content {
  margin: 0 auto!important;
}

.expand {
  .horizontal {
    visibility: hidden!important;
  }
  .vertical {
    position: initial!important;
    visibility: visible!important;
    display: flex!important;
    //height: auto!important;
  }
  .hive {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
  .found-accordion {
    height: 100%!important;
  }

  .button-expand img {
    transform: rotate(180deg);
  }
}


@media (prefers-color-scheme: dark) {
 
}

/*
Background: #ebebde
Optional:   #777764
Required:   #4f4747
            #455073
*/
