.wrapper {
  display: flex;
	flex-direction: column;
	justify-content: space-between;
  gap: 1em;
  max-width: 300px;

  .action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    & > button {
      cursor: pointer;
      user-select: none;

      & > img {
        pointer-events: none;
      }

      &:nth-child(2) {
        font-size: 1em;
        text-transform: uppercase;
        padding: 0.5em 0.8em;
        border-radius: .3em;
        background-color: var(--color-button-bg);
        border: 1px solid var(--color-button-border);
        color: var(--color-button-color);
        letter-spacing: 1px;
        line-height: 0.9;
        &:hover {
          background-color: var(--color-button-bg-hover);
          color: var(--color-button-color-hover);
          border-color: var(--color-button-border-hover);
        }
  
        &:disabled {
          background-color: var(--color-button-bg-disabled);
          color: var(--color-heliotrope-gray);
          border-color: var(--color-button-border-disabled);
        }
      }

      &:not(:nth-child(2)) {
        padding: 0;
        margin: 0;
        background-color: transparent;
        border:none;
  
        & > img {
          transition: filter .2s;
          width: auto;
          height: 45px;
          filter: var(--color-action-button);
  
          &:focus-visible {
            outline:none!important;
            border:none;
          }
        }

        &:not([disabled]):hover > img {
          filter: var(--color-action-button-hover);
        }
  
        &:disabled {
          cursor: not-allowed;
          & > img {
            filter: var(--color-action-button-disabled);
            cursor: not-allowed;
          }
        }
  
        &:not([disabled]) > img {
          &:active {
            filter: var(--color-action-button-active);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px/*map-get($breakpoints, xs)*/)  {
  .wrapper {
    flex: 6;
    justify-content: center;
  } 
} 
