.wrapper {
  display: flex;
	flex-direction: column;
	justify-content: space-between;
  gap: 0.5em;

  .action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: .5em;
    user-select: none;

    & > button {
      cursor: pointer;
      /*& > img {
        width: 20px;
        height: calc(0.68 * 20px);
        color: #FFFFFF;
      }*/
    }

    & > button:nth-child(2) {
      font-size: 1.2em;
      padding: 0.3em 0.6em;
      border-radius: 5px
    }

    & > button:not(:nth-child(2)) {
      border-radius: 50%;
      width: 55px;
      height: 55px;
      padding: 0;
      margin: 0;
      background-color: transparent;
      border:none;

      & > img {
        transition: filter .2s;
        width: auto;
	      height: 45px;
        filter: invert(67%) sepia(7%) saturate(78%) hue-rotate(267deg) brightness(89%) contrast(91%);

        &:focus-visible {
          outline:none!important;
          border:none;
        }
      }

      &:disabled > img {
        filter: invert(17%) sepia(6%) saturate(1166%) hue-rotate(202deg) brightness(91%) contrast(89%);
      }

      &:not([disabled]) > img {
        &:active {
          filter: invert(20%) sepia(10%) saturate(882%) hue-rotate(200deg) brightness(94%) contrast(94%);
        }
      }
    }
    /*
    & > button:nth-child(3) {
      transform: rotate(90deg);
    }
    */
  }
}