.wrapper {
  display: flex;
	flex-direction: column;
	justify-content: space-between;
  gap: 1em;

  .action {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    user-select: none;

    & > button {
      cursor: pointer;
    }

    & > button:nth-child(2) {
      font-size: 1em;
      text-transform: uppercase;
      padding: 0.5em 0.8em;
      border-radius: 6px;
      background-color: #13172c;
      border: 1px solid #36384c;
      color: #fff8f0;
      letter-spacing: 1px;
      &:hover {
        color: #cfcfcf;
	      background-color: #36384c;
	      border-color: #606274;
      }

      &:disabled {
        //cursor: not-allowed;
        background-color: #272a3e;
        border-color: #36384c;
        color: #a69cac;
      }
    }

    & > button:not(:nth-child(2)) {
      padding: 0;
      margin: 0;
      background-color: transparent;
      border:none;

      & > img {
        transition: filter .2s;
        width: auto;
	      height: 45px;
        filter: invert(67%) sepia(7%) saturate(78%) hue-rotate(267deg) brightness(89%) contrast(91%);

        &:focus-visible {
          outline:none!important;
          border:none;
        }
      }

      &:disabled > img {
        filter: invert(10%) sepia(5%) saturate(6023%) hue-rotate(195deg) brightness(98%) contrast(83%);
        cursor: not-allowed;
      }

      &:not([disabled]) > img {
        &:active {
          filter: invert(20%) sepia(10%) saturate(882%) hue-rotate(200deg) brightness(94%) contrast(94%);
        }
      }
    }
  }
}

.delete {
  fill: green!important;
  stroke-width: 3!important;
  stroke: #491EC4!important;
}

@media only screen and (max-width: 768px/*map-get($breakpoints, xs)*/)  {
  .wrapper {
    flex: 6;
    justify-content: center;
  } 
} 
