
@import './settings.scss';

.container {
  display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
  max-width: 40%;
	margin: 0 auto;
}

.header {
}

.main {
  display: flex;
	flex-direction: row;
	align-items: center;
	gap: 2em;
}

.footer {
}

@media only screen and (max-width: 768px/*map-get($breakpoints, xs)*/)  {
  .container {
    max-width: initial;
  }

  .main {
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 1em;
    height: 100%;
    margin: 0 2em;
  }
} 