.container {
  display: flex;
	flex-direction: column;
  flex-wrap: wrap;
	justify-content: space-between;
	min-height: 100vh;
}

.header {
  background-color: var(--color-bg-header);
  padding: .5em 0;
  height: 2.4em;
  & > .brand {
    display: block;
    position: relative;
    margin: 0 auto;
    border-radius: 10%;
    user-select: none;
    width: 60px;
    height: 60px;

    & > * {
      transition: fill .2s ease-in-out;
    }

    & > .top {
      fill: var(--color-bg-primary);
    }

    & > .bot {
      fill: var(--color-bg-header);
    }
  }

  .toggleTheme {
    position: relative;
    display: block;
    float: right;
	  margin-right: 2em;
    bottom: 4.9em;
    
    --size: 1.5rem;
    
    appearance: none;
    outline: none;
    cursor: pointer;
    
    width: var(--size);
    height: var(--size);
    box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
    border-radius: 50%;
    color: var(--color-button-theme);
    
    transition: all 500ms;
    
    &:checked {
      --ray-size: calc(var(--size) * -0.4);
      --offset-orthogonal: calc(var(--size) * 0.65);
      --offset-diagonal: calc(var(--size) * 0.45);
  
      transform: scale(0.6);
      box-shadow: 
        inset 0 0 0 var(--size),
        calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size),
        var(--offset-orthogonal) 0 0 var(--ray-size),
        0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size),
        0 var(--offset-orthogonal) 0 var(--ray-size),
        calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0 var(--ray-size),
        var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size),
        calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size),
        var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size),
      ;
    }
  }
}

.main {
  max-width: 100%;
}

.footer {
  background-color: var(--color-bg-footer);
  padding: 0.5em 0;
	height: 2.4em;
	text-align: center;
}

@media only screen and (max-width: 768px/*map-get($breakpoints, xs)*/)  {
  .main {
    flex-grow: 1;
  } 
} 